// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(230, 25%, 92%);
$-clr-gray-200: hsl(230, 19%, 78%);
$-clr-gray-300: hsl(230, 15%, 65%);
$-clr-gray-400: hsl(230, 13%, 54%);
$-clr-gray-500: hsl(230, 14%, 44%);
$-clr-gray-600: hsl(230, 18%, 34%);
$-clr-gray-700: hsl(230, 21%, 24%);
$-clr-gray-800: hsl(230, 24%, 18%);
$-clr-gray-900: hsl(230, 29%, 11%);
$-clr-black: hsl(230, 34%, 12%);
$-clr-orange-100: hsl(24 75% 95%);
$-clr-orange-200: hsl(24 75% 82.5%);
$-clr-orange-300: hsl(24 75% 70%);
$-clr-orange-400: hsl(24 75% 60%);
$-clr-orange-500: hsl(24 75% 50%);
$-clr-orange-600: hsl(24 75% 40%);
$-clr-orange-700: hsl(24 75% 30%);
$-clr-orange-800: hsl(24 75% 17.5%);
$-clr-orange-900: hsl(24 75% 7.5%);
$-clr-yellow-100: hsl(48 75% 95%);
$-clr-yellow-200: hsl(48 75% 82.5%);
$-clr-yellow-300: hsl(48 75% 70%);
$-clr-yellow-400: hsl(48 75% 60%);
$-clr-yellow-500: hsl(48 75% 50%);
$-clr-yellow-600: hsl(48 75% 40%);
$-clr-yellow-700: hsl(48 75% 30%);
$-clr-yellow-800: hsl(48 75% 17.5%);
$-clr-yellow-900: hsl(48 75% 7.5%);
$-clr-yellowgreen-100: hsl(72 75% 95%);
$-clr-yellowgreen-200: hsl(72 75% 82.5%);
$-clr-yellowgreen-300: hsl(72 75% 70%);
$-clr-yellowgreen-400: hsl(72 75% 60%);
$-clr-yellowgreen-500: hsl(72 75% 50%);
$-clr-yellowgreen-600: hsl(72 75% 40%);
$-clr-yellowgreen-700: hsl(72 75% 30%);
$-clr-yellowgreen-800: hsl(72 75% 17.5%);
$-clr-yellowgreen-900: hsl(72 75% 7.5%);
$-clr-green-100: hsl(96 75% 95%);
$-clr-green-200: hsl(96 75% 82.5%);
$-clr-green-300: hsl(96 75% 70%);
$-clr-green-400: hsl(96 75% 60%);
$-clr-green-500: hsl(96 75% 50%);
$-clr-green-600: hsl(96 75% 40%);
$-clr-green-700: hsl(96 75% 30%);
$-clr-green-800: hsl(96 75% 17.5%);
$-clr-green-900: hsl(96 75% 7.5%);
$-clr-lime-100: hsl(144 75% 95%);
$-clr-lime-200: hsl(144 75% 82.5%);
$-clr-lime-300: hsl(144 75% 70%);
$-clr-lime-400: hsl(144 75% 60%);
$-clr-lime-500: hsl(144 75% 50%);
$-clr-lime-600: hsl(144 75% 40%);
$-clr-lime-700: hsl(144 75% 30%);
$-clr-lime-800: hsl(144 75% 17.5%);
$-clr-lime-900: hsl(144 75% 7.5%);
$-clr-turquoise-100: hsl(168 75% 95%);
$-clr-turquoise-200: hsl(168 75% 82.5%);
$-clr-turquoise-300: hsl(168 75% 70%);
$-clr-turquoise-400: hsl(168 75% 60%);
$-clr-turquoise-500: hsl(168 75% 50%);
$-clr-turquoise-600: hsl(168 75% 40%);
$-clr-turquoise-700: hsl(168 75% 30%);
$-clr-turquoise-800: hsl(168 75% 17.5%);
$-clr-turquoise-900: hsl(168 75% 7.5%);
$-clr-cyan-100: hsl(174 75% 95%);
$-clr-cyan-200: hsl(174 75% 82.5%);
$-clr-cyan-300: hsl(174 75% 70%);
$-clr-cyan-400: hsl(174 75% 60%);
$-clr-cyan-500: hsl(174, 75%, 50%);
$-clr-cyan-600: hsl(174 75% 40%);
$-clr-cyan-700: hsl(174 75% 30%);
$-clr-cyan-800: hsl(174 75% 17.5%);
$-clr-cyan-900: hsl(174 75% 7.5%);
$-clr-skyblue-100: hsl(216 75% 95%);
$-clr-skyblue-200: hsl(216 75% 82.5%);
$-clr-skyblue-300: hsl(216 75% 70%);
$-clr-skyblue-400: hsl(216 75% 60%);
$-clr-skyblue-500: hsl(216 75% 50%);
$-clr-skyblue-600: hsl(216 75% 40%);
$-clr-skyblue-700: hsl(216 75% 30%);
$-clr-skyblue-800: hsl(216 75% 17.5%);
$-clr-skyblue-900: hsl(216 75% 7.5%);
$-clr-blue-100: hsl(240 75% 95%);
$-clr-blue-200: hsl(240 75% 82.5%);
$-clr-blue-300: hsl(240 75% 70%);
$-clr-blue-400: hsl(240 75% 60%);
$-clr-blue-500: hsl(240 75% 50%);
$-clr-blue-600: hsl(240 75% 40%);
$-clr-blue-700: hsl(240 75% 30%);
$-clr-blue-800: hsl(240 75% 17.5%);
$-clr-blue-900: hsl(240 75% 7.5%);
$-clr-purple-100: hsl(264 75% 95%);
$-clr-purple-200: hsl(264 75% 82.5%);
$-clr-purple-300: hsl(264 75% 70%);
$-clr-purple-400: hsl(264 75% 60%);
$-clr-purple-500: hsl(264 75% 50%);
$-clr-purple-600: hsl(264 75% 40%);
$-clr-purple-700: hsl(264 75% 30%);
$-clr-purple-800: hsl(264 75% 17.5%);
$-clr-purple-900: hsl(264 75% 7.5%);
$-clr-magenta-100: hsl(277 70% 95%);
$-clr-magenta-200: hsl(277 70% 82.5%);
$-clr-magenta-300: hsl(277 70% 70%);
$-clr-magenta-400: hsl(277 70% 60%);
$-clr-magenta-500: hsl(277 70% 50%);
$-clr-magenta-600: hsl(277 70% 40%);
$-clr-magenta-700: hsl(277 70% 30%);
$-clr-magenta-800: hsl(277 70% 17.5%);
$-clr-magenta-900: hsl(277 70% 7.5%);
$-clr-pink-100: hsl(302 75% 95%);
$-clr-pink-200: hsl(302 75% 82.5%);
$-clr-pink-300: hsl(302 75% 70%);
$-clr-pink-400: hsl(302 75% 60%);
$-clr-pink-500: hsl(302 75% 50%);
$-clr-pink-600: hsl(302 75% 40%);
$-clr-pink-700: hsl(302 75% 30%);
$-clr-pink-800: hsl(302 75% 17.5%);
$-clr-pink-900: hsl(302 75% 7.5%);
$-clr-deeppink-100: hsl(336 75% 95%);
$-clr-deeppink-200: hsl(336 75% 82.5%);
$-clr-deeppink-300: hsl(336 75% 70%);
$-clr-deeppink-400: hsl(336 75% 60%);
$-clr-deeppink-500: hsl(336 75% 50%);
$-clr-deeppink-600: hsl(336 75% 40%);
$-clr-deeppink-700: hsl(336 75% 30%);
$-clr-deeppink-800: hsl(336 75% 17.5%);
$-clr-deeppink-900: hsl(336 75% 7.5%);
$-clr-red-100: hsl(0 75% 95%);
$-clr-red-200: hsl(0 75% 82.5%);
$-clr-red-300: hsl(349, 52%, 61%);
$-clr-red-400: hsl(0 75% 60%);
$-clr-red-500: hsl(0 75% 50%);
$-clr-red-600: hsl(0 75% 40%);
$-clr-red-700: hsl(0 75% 30%);
$-clr-red-800: hsl(0 75% 17.5%);
$-clr-red-900: hsl(0 75% 7.5%);

$dark: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
    "1000": $-clr-black,
  ),
  "accent": (
    "100": hsl(313 100% 95%),
    "200": hsl(313 100% 70%),
    "300": hsl(313 100% 60%),
    "400": hsl(313 100% 55%),
    "500": hsl(313 100% 44%),
    "600": hsl(313 100% 40%),
    "700": hsl(313 100% 30%),
    "800": hsl(313 100% 17.5%),
    "900": hsl(313 100% 7.5%),
  ),
  "primary": (
    "100": hsl(210 100% 95%),
    "200": hsl(210 100% 70%),
    "300": hsl(210 100% 60%),
    "400": hsl(210 100% 55%),
    "500": hsl(210 100% 43%),
    "600": hsl(210 100% 40%),
    "700": hsl(210 100% 30%),
    "800": hsl(210 100% 17.5%),
    "900": hsl(210 100% 7.5%),
  ),
  "orange": (
    "100": $-clr-orange-100,
    "200": $-clr-orange-200,
    "300": $-clr-orange-300,
    "400": $-clr-orange-400,
    "500": $-clr-orange-500,
    "600": $-clr-orange-600,
    "700": $-clr-orange-700,
    "800": $-clr-orange-800,
    "900": $-clr-orange-900,
  ),
  "yellow": (
    "100": $-clr-yellow-100,
    "200": $-clr-yellow-200,
    "300": $-clr-yellow-300,
    "400": $-clr-yellow-400,
    "500": $-clr-yellow-500,
    "600": $-clr-yellow-600,
    "700": $-clr-yellow-700,
    "800": $-clr-yellow-800,
    "900": $-clr-yellow-900,
  ),
  "yellowgreen": (
    "100": $-clr-yellowgreen-100,
    "200": $-clr-yellowgreen-200,
    "300": $-clr-yellowgreen-300,
    "400": $-clr-yellowgreen-400,
    "500": $-clr-yellowgreen-500,
    "600": $-clr-yellowgreen-600,
    "700": $-clr-yellowgreen-700,
    "800": $-clr-yellowgreen-800,
    "900": $-clr-yellowgreen-900,
  ),
  "green": (
    "100": $-clr-green-100,
    "200": $-clr-green-200,
    "300": $-clr-green-300,
    "400": $-clr-green-400,
    "500": $-clr-green-500,
    "600": $-clr-green-600,
    "700": $-clr-green-700,
    "800": $-clr-green-800,
    "900": $-clr-green-900,
  ),
  "lime": (
    "100": $-clr-lime-100,
    "200": $-clr-lime-200,
    "300": $-clr-lime-300,
    "400": $-clr-lime-400,
    "500": $-clr-lime-500,
    "600": $-clr-lime-600,
    "700": $-clr-lime-700,
    "800": $-clr-lime-800,
    "900": $-clr-lime-900,
  ),
  "turquoise": (
    "100": $-clr-turquoise-100,
    "200": $-clr-turquoise-200,
    "300": $-clr-turquoise-300,
    "400": $-clr-turquoise-400,
    "500": $-clr-turquoise-500,
    "600": $-clr-turquoise-600,
    "700": $-clr-turquoise-700,
    "800": $-clr-turquoise-800,
    "900": $-clr-turquoise-900,
  ),
  "cyan": (
    "100": $-clr-cyan-100,
    "200": $-clr-cyan-200,
    "300": $-clr-cyan-300,
    "400": $-clr-cyan-400,
    "500": $-clr-cyan-500,
    "600": $-clr-cyan-600,
    "700": $-clr-cyan-700,
    "800": $-clr-cyan-800,
    "900": $-clr-cyan-900,
  ),
  "skyblue": (
    "100": $-clr-skyblue-100,
    "200": $-clr-skyblue-200,
    "300": $-clr-skyblue-300,
    "400": $-clr-skyblue-400,
    "500": $-clr-skyblue-500,
    "600": $-clr-skyblue-600,
    "700": $-clr-skyblue-700,
    "800": $-clr-skyblue-800,
    "900": $-clr-skyblue-900,
  ),
  "blue": (
    "100": $-clr-blue-100,
    "200": $-clr-blue-200,
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-blue-500,
    "600": $-clr-blue-600,
    "700": $-clr-blue-700,
    "800": $-clr-blue-800,
    "900": $-clr-blue-900,
  ),
  "purple": (
    "100": $-clr-purple-100,
    "200": $-clr-purple-200,
    "300": $-clr-purple-300,
    "400": $-clr-purple-400,
    "500": $-clr-purple-500,
    "600": $-clr-purple-600,
    "700": $-clr-purple-700,
    "800": $-clr-purple-800,
    "900": $-clr-purple-900,
  ),
  "magenta": (
    "100": $-clr-magenta-100,
    "200": $-clr-magenta-200,
    "300": $-clr-magenta-300,
    "400": $-clr-magenta-400,
    "500": $-clr-magenta-500,
    "600": $-clr-magenta-600,
    "700": $-clr-magenta-700,
    "800": $-clr-magenta-800,
    "900": $-clr-magenta-900,
  ),
  "pink": (
    "100": $-clr-pink-100,
    "200": $-clr-pink-200,
    "300": $-clr-pink-300,
    "400": $-clr-pink-400,
    "500": $-clr-pink-500,
    "600": $-clr-pink-600,
    "700": $-clr-pink-700,
    "800": $-clr-pink-800,
    "900": $-clr-pink-900,
  ),
  "deeppink": (
    "100": $-clr-deeppink-100,
    "200": $-clr-deeppink-200,
    "300": $-clr-deeppink-300,
    "400": $-clr-deeppink-400,
    "500": $-clr-deeppink-500,
    "600": $-clr-deeppink-600,
    "700": $-clr-deeppink-700,
    "800": $-clr-deeppink-800,
    "900": $-clr-deeppink-900,
  ),
  "red": (
    "100": $-clr-red-100,
    "200": $-clr-red-200,
    "300": $-clr-red-300,
    "400": $-clr-red-400,
    "500": $-clr-red-500,
    "600": $-clr-red-600,
    "700": $-clr-red-700,
    "800": $-clr-red-800,
    "900": $-clr-red-900,
  )
);

$light: (
  "neutral": (
    "1000": $-clr-white,
    "900": $-clr-gray-100,
    "800": $-clr-gray-200,
    "700": $-clr-gray-300,
    "600": $-clr-gray-400,
    "500": $-clr-gray-500,
    "400": $-clr-gray-600,
    "300": $-clr-gray-700,
    "200": $-clr-gray-800,
    "100": $-clr-gray-900,
    "000": $-clr-black,
  ),
  "accent": (
    "100": hsl(313 100% 95%),
    "200": hsl(313 100% 70%),
    "300": hsl(313 100% 60%),
    "400": hsl(313 100% 55%),
    "500": hsl(313 100% 44%),
    "600": hsl(313 100% 40%),
    "700": hsl(313 100% 30%),
    "800": hsl(313 100% 17.5%),
    "900": hsl(313 100% 7.5%),
  ),
  "primary": (
    "100": hsl(210 100% 95%),
    "200": hsl(210 100% 70%),
    "300": hsl(210 100% 60%),
    "400": hsl(210 100% 55%),
    "500": hsl(210 100% 43%),
    "600": hsl(210 100% 40%),
    "700": hsl(210 100% 30%),
    "800": hsl(210 100% 17.5%),
    "900": hsl(210 100% 7.5%),
  ),
  "orange": (
    "100": $-clr-orange-100,
    "200": $-clr-orange-200,
    "300": $-clr-orange-300,
    "400": $-clr-orange-400,
    "500": $-clr-orange-500,
    "600": $-clr-orange-600,
    "700": $-clr-orange-500,
    "800": $-clr-orange-800,
    "900": $-clr-orange-900,
  ),
  "yellow": (
    "100": $-clr-yellow-100,
    "200": $-clr-yellow-200,
    "300": $-clr-yellow-300,
    "400": $-clr-yellow-400,
    "500": $-clr-yellow-500,
    "600": $-clr-yellow-600,
    "700": $-clr-yellow-700,
    "800": $-clr-yellow-800,
    "900": $-clr-yellow-900,
  ),
  "yellowgreen": (
    "100": $-clr-yellowgreen-100,
    "200": $-clr-yellowgreen-200,
    "300": $-clr-yellowgreen-300,
    "400": $-clr-yellowgreen-400,
    "500": $-clr-yellowgreen-500,
    "600": $-clr-yellowgreen-600,
    "700": $-clr-yellowgreen-700,
    "800": $-clr-yellowgreen-800,
    "900": $-clr-yellowgreen-900,
  ),
  "green": (
    "100": $-clr-green-100,
    "200": $-clr-green-200,
    "300": $-clr-green-300,
    "400": $-clr-green-400,
    "500": $-clr-green-500,
    "600": $-clr-green-600,
    "700": $-clr-green-700,
    "800": $-clr-green-800,
    "900": $-clr-green-900,
  ),
  "lime": (
    "100": $-clr-lime-100,
    "200": $-clr-lime-200,
    "300": $-clr-lime-300,
    "400": $-clr-lime-400,
    "500": $-clr-lime-500,
    "600": $-clr-lime-600,
    "700": $-clr-lime-700,
    "800": $-clr-lime-800,
    "900": $-clr-lime-900,
  ),
  "turquoise": (
    "100": $-clr-turquoise-100,
    "200": $-clr-turquoise-200,
    "300": $-clr-turquoise-300,
    "400": $-clr-turquoise-400,
    "500": $-clr-turquoise-500,
    "600": $-clr-turquoise-600,
    "700": $-clr-turquoise-700,
    "800": $-clr-turquoise-800,
    "900": $-clr-turquoise-900,
  ),
  "cyan": (
    "100": $-clr-cyan-100,
    "200": $-clr-cyan-200,
    "300": $-clr-cyan-300,
    "400": $-clr-cyan-400,
    "500": $-clr-cyan-500,
    "600": $-clr-cyan-600,
    "700": $-clr-cyan-700,
    "800": $-clr-cyan-800,
    "900": $-clr-cyan-900,
  ),
  "skyblue": (
    "100": $-clr-skyblue-100,
    "200": $-clr-skyblue-200,
    "300": $-clr-skyblue-300,
    "400": $-clr-skyblue-400,
    "500": $-clr-skyblue-500,
    "600": $-clr-skyblue-600,
    "700": $-clr-skyblue-700,
    "800": $-clr-skyblue-800,
    "900": $-clr-skyblue-900,
  ),
  "blue": (
    "100": $-clr-blue-100,
    "200": $-clr-blue-200,
    "300": $-clr-blue-300,
    "400": $-clr-blue-400,
    "500": $-clr-blue-500,
    "600": $-clr-cyan-300,
    "700": $-clr-blue-700,
    "800": $-clr-blue-800,
    "900": $-clr-blue-900,
  ),
  "purple": (
    "100": $-clr-purple-100,
    "200": $-clr-purple-200,
    "300": $-clr-purple-300,
    "400": $-clr-purple-400,
    "500": $-clr-purple-500,
    "600": $-clr-purple-600,
    "700": $-clr-purple-700,
    "800": $-clr-purple-800,
    "900": $-clr-purple-900,
  ),
  "magenta": (
    "100": $-clr-magenta-100,
    "200": $-clr-magenta-200,
    "300": $-clr-magenta-300,
    "400": $-clr-magenta-400,
    "500": $-clr-magenta-500,
    "600": $-clr-magenta-600,
    "700": $-clr-magenta-700,
    "800": $-clr-magenta-800,
    "900": $-clr-magenta-900,
  ),
  "pink": (
    "100": $-clr-pink-100,
    "200": $-clr-pink-200,
    "300": $-clr-pink-300,
    "400": $-clr-pink-400,
    "500": $-clr-pink-500,
    "600": $-clr-pink-600,
    "700": $-clr-pink-700,
    "800": $-clr-pink-800,
    "900": $-clr-pink-900,
  ),
  "deeppink": (
    "100": $-clr-deeppink-100,
    "200": $-clr-deeppink-200,
    "300": $-clr-deeppink-300,
    "400": $-clr-deeppink-400,
    "500": $-clr-deeppink-500,
    "600": $-clr-deeppink-600,
    "700": $-clr-deeppink-700,
    "800": $-clr-deeppink-800,
    "900": $-clr-deeppink-900,
  ),
  "red": (
    "100": $-clr-red-100,
    "200": $-clr-red-200,
    "300": $-clr-red-300,
    "400": $-clr-red-400,
    "500": $-clr-red-500,
    "600": $-clr-red-600,
    "700": $-clr-red-700,
    "800": $-clr-red-800,
    "900": $-clr-red-900,
  )
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);

$color-red-300: var(--red-300);
$color-red-400: var(--red-400);
$color-blue-500: var(--blue-500);
$color-green-400: var(--green-400);
$color-green-500: var(--green-500);
$color-orange-400: var(--orange-400);
