@use "sass:map";
@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;
@use "sass:color";
@use "sass:list";

@function clr($color, $shade) {
  @if map.has-key($colors, $color, $shade) {
    @return map.get($colors, $color, $shade);
  } @else {
    @error '$colors does not have that color!';
  }
}

@function fs($font-size) {
  @if map.has-key($font-sizes, $font-size) {
    @return map.get($font-sizes, $font-size);
  } @else {
    @error '$font-sizes does not have that size!';
  }
}

@function size($size) {
  @if map.has-key($sizes, $size) {
    @return map.get($sizes, $size);
  } @else {
    @error '$sizes does not have that size!';
  }
}

$shadow-opacity-scale: (
  "1": (0.012, 0.012, 0.018, 0.03),
  "2": (0.016, 0.016, 0.024, 0.04),
  "3": (0.02, 0.02, 0.03, 0.05),
  "4": (0.03, 0.03, 0.042, 0.07),
  "5": (0.04, 0.04, 0.06, 0.1)
);

$shadow-layers: (
    (-3px, 2px),
    (3px, 2px),
    (5px, 4px),
    (25px, 20px)
);

@function generate-shadow($level, $color: var(--neutral-900)) {
  $opacities: map.get($shadow-opacity-scale, $level);
  $shadow-list: ();

  @each $layer in $shadow-layers {
    $index: list.index($shadow-layers, $layer);
    $y-offset: list.nth($layer, 1);
    $blur: list.nth($layer, 2);
    $opacity: list.nth($opacities, $index);

    $shadow: 0px $y-offset $blur rgb(from #{$color} r g b / #{$opacity});
    $shadow-list: list.append($shadow-list, $shadow, comma);
  }

  @return $shadow-list;
}
