services:
  database:
    image: postgres:16-alpine3.23
    ports:
      - 5432:5432
    volumes:
      - psql-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=root
  redis:
    image: redis:8.4.0-alpine
    ports:
      - 6379:6379
  mailer:
    image: mailhog/mailhog:latest
    ports:
      - 1025:1025
      - 8025:8025

volumes:
  psql-data:
