@use "../abstracts" as *;

.table {
  border-collapse: collapse;
  width: 100%;
  line-height: 1.2;

  thead {
    background-color: var(--white);
    border: 0;
    display: none;

    @include mq(lg) {
      display: table-header-group;
    }

    th {
      text-transform: uppercase;
      opacity: 0.6;
      font-size: 0.9em;
      text-align: left;

      &.center {
        @include mq(lg) {
          text-align: center;
        }
      }

      &:last-child {
        @include mq(lg) {
          text-align: right;
        }
      }
    }
  }

  tbody {
    a {
      text-decoration: none;
      color: $color-text-default;

      &:hover {
        color: $color-accent-400;
      }
    }

    tr {
      display: block;
      margin-bottom: 1.5rem;
      border: 1px solid $color-neutral-200;
      border-radius: 0.5rem;
      padding: 1rem;

      @include mq(lg) {
        display: table-row;
        margin-bottom: 0;
        border: none;
        border-bottom: 1px solid $color-neutral-200;
        border-radius: 0;
        padding: 0;
      }

      &:last-child {
        border: 1px solid $color-neutral-200;

        @include mq(lg) {
          border: none;
        }
      }
    }

    td {
      display: block;
      text-align: left;
      padding: 0.5rem 0;
      border: none;
      vertical-align: middle;

      &::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.85em;
        opacity: 0.6;
        display: block;
        margin-bottom: 0.25rem;

        @include mq(lg) {
          display: none;
        }
      }

      @include mq(lg) {
        display: table-cell;
        padding: 1rem 0;
      }

      &:last-child {
        > * {
          @include mq(lg) {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
