@use "../abstracts" as *;

@each $color, $shade-map in $active-theme {

  .clr-transparent {
    color: transparent;
  }

  .bg-transparent {
    background-color: transparent;
  }

  .border-transparent { border-color: transparent; outline: none; }
  .border-top-transparent { border-top-color: transparent; outline: none; }
  .border-left-transparent { border-left-color: transparent; outline: none; }
  .border-bottom-transparent { border-bottom-color: transparent; outline: none; }
  .border-right-transparent { border-right-color: transparent; outline: none; }

  .hover\:clr-transparent {
    &:is(:hover, :focus-visible) {
      color: transparent;
    }
  }

  .hover\:bg-transparent {
    &:is(:hover, :focus-visible) {
      background-color: transparent;
    }
  }

  .hover\:border-transparent {
    &:is(:hover, :focus-visible)
    {
      border-color: transparent;
      outline: none;
    }
  }
  .hover\:border-top-transparent {
    &:is(:hover, :focus-visible) {
      border-top-color: transparent; outline: none;
    }
  }
  .hover\:border-left-transparent {
    &:is(:hover, :focus-visible) {
      border-left-color: transparent; outline: none;
    }
  }
  .hover\:border-bottom-transparent {
    &:is(:hover, :focus-visible)
    {
      border-bottom-color: transparent;
      outline: none;
    }
  }
  .hover\:border-right-transparent {
    &:is(:hover, :focus-visible) {
      border-right-color: transparent;
      outline: none;
    }
  }

  @each $shade, $value in $shade-map {
    $variable: var(--#{$color}-#{$shade});

    .clr-#{$color}-#{$shade} { color: $variable; }
    .bg-#{$color}-#{$shade} { background-color: $variable; }

    .accent-#{$color}-#{$shade} {
      accent-color: $variable;
    }

    .hover\:clr-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible) { color: $variable; }
    }

    .hover\:bg-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible) { background-color: $variable; }
    }

    .current\:clr-#{$color}-#{$shade} {
      &[aria-current="page"] { color: $variable; }
    }

    .current\:bg-#{$color}-#{$shade} {
      &[aria-current="page"] { background-color: $variable; }
    }

    .border-#{$color}-#{$shade} { border-color: $variable; outline: none; }
    .border-top-#{$color}-#{$shade} { border-top-color: $variable; outline: none; }
    .border-left-#{$color}-#{$shade} { border-left-color: $variable; outline: none; }
    .border-bottom-#{$color}-#{$shade} { border-bottom-color: $variable; outline: none; }
    .border-right-#{$color}-#{$shade} { border-right-color: $variable; outline: none; }

    .hover\:border-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible)
      {
        border-color: $variable;
        outline: none;
      }
    }
    .hover\:border-top-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible) {
        border-top-color: $variable; outline: none;
      }
    }
    .hover\:border-left-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible) {
        border-left-color: $variable; outline: none;
      }
    }
    .hover\:border-bottom-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible)
      {
        border-bottom-color: $variable;
        outline: none;
      }
    }
    .hover\:border-right-#{$color}-#{$shade} {
      &:is(:hover, :focus-visible) {
        border-right-color: $variable;
        outline: none;
      }
    }

    .focus\:border-#{$color}-#{$shade} {
      &:is(:focus, :focus-visible, :focus-within) { border-color: $variable; outline: none; }
    }
  }
}
