@use "../abstracts" as *;

@mixin interactivity-utilities($prefix: "") {
  .#{$prefix}cursor-pointer      { cursor: pointer; }
  .#{$prefix}cursor-default      { cursor: default; }
  .#{$prefix}cursor-not-allowed  { cursor: not-allowed; }
  .#{$prefix}cursor-wait         { cursor: wait; }
  .#{$prefix}cursor-text         { cursor: text; }
  .#{$prefix}cursor-move         { cursor: move; }

  .#{$prefix}select-none { user-select: none; }
  .#{$prefix}select-text { user-select: text; }
  .#{$prefix}select-all  { user-select: all; }
  .#{$prefix}select-auto { user-select: auto; }

  .#{$prefix}object-cover   { object-fit: cover; }
  .#{$prefix}object-contain { object-fit: contain; }
  .#{$prefix}object-fill    { object-fit: fill; }
  .#{$prefix}object-none    { object-fit: none; }

  .#{$prefix}object-center { object-position: center; }
  .#{$prefix}object-top    { object-position: top; }
  .#{$prefix}object-bottom { object-position: bottom; }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @if $breakpoint-name == sm {
    @include interactivity-utilities();
  } @else {
    @include mq($breakpoint-name) {
      @include interactivity-utilities("#{$breakpoint-name}\\:");
    }
  }
}
