@use "../abstracts" as *;

@mixin text-transform-utilities($prefix: "") {
  .#{$prefix}uppercase {
    text-transform: uppercase;
  }

  .#{$prefix}lowercase {
    text-transform: lowercase;
  }

  .#{$prefix}capitalize {
    text-transform: capitalize;
  }

  .#{$prefix}normal-case {
    text-transform: none;
  }

  .#{$prefix}underline {
    text-decoration: underline;
  }

  .#{$prefix}no-underline {
    text-decoration: none;
  }

  .#{$prefix}capitalize-first-letter {
    display: block;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .#{$prefix}rotate-0 {
    transform: rotate(0deg);
  }

  .#{$prefix}rotate-90 {
    transform: rotate(90deg);
  }

  .#{$prefix}rotate-180 {
    transform: rotate(180deg);
  }

  .#{$prefix}rotate-270 {
    transform: rotate(270deg);
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @if $breakpoint-name == sm {
    @include text-transform-utilities();
  } @else {
    @include mq($breakpoint-name) {
      @include text-transform-utilities("#{$breakpoint-name}\\:");
    }
  }
}
