@use "../abstracts" as *;

html {
    color-scheme: dark light;
}

:root {
    @each $color, $shade-map in $active-theme {
        @each $shade, $value in $shade-map {
            --#{$color}-#{$shade}: #{$value};
        }
    }

    @if ($enable-media-query-dark-mode) {
        @media (prefers-color-scheme: dark) {
            @each $color, $shade-map in $dark {
                @each $shade, $value in $shade-map {
                    --#{$color}-#{$shade}: #{$value};
                }
            }
        }
    }

    @each $screen-size, $size-map in $font-sizes {
        @if $screen-size == sm {
            @each $size-name, $size-value in $size-map {
                --fs-#{$size-name}: #{$size-value};
            }
        } @else {
            @include mq($screen-size) {
                @each $size-name, $size-value in $size-map {
                    --fs-#{$size-name}: #{$size-value};
                }
            }
        }
    }
}

:root:has(#theme-switcher:checked) {
    color-scheme: dark;
    @each $color, $shade-map in $dark {
        @each $shade, $value in $shade-map {
            --#{$color}-#{$shade}: #{$value};
        }
    }
}
