@use "../abstracts/index" as *;

$display-values: (
  "block",
  "grid",
  "flex",
  "inline",
  "inline-block",
  "inline-flex",
  "inline-grid",
  "contents",
  "table"
);

@mixin display-utilities($prefix: "") {
  @each $value in $display-values {
    .#{$prefix}display-#{$value} {
      display: #{$value}!important;
    }
  }
  .#{$prefix}display-hidden {
    display: none!important;
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @if $breakpoint-name == sm {
    @include display-utilities();
  } @else {
    @include mq($breakpoint-name) {
      @include display-utilities("#{$breakpoint-name}\\:");
    }
  }
}
